@use 'sass:map';
@use "sass:math" as math;

$breakpoints: (
  small: 480px,
  medium: 720px,
  wide: 980px,
  large: 1280px
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media screen and (min-width: $size) {
    @content;
  }
}