$colors: (
  primary: #FF3F4A,
  secondary: #743AC0,
  tertiary: #2532A9,
  accent: #9BFA00,
  bg-light: #F7F5FF,
  bg-dark: #2E2E2E,
  grey-dark: #3F3F3F,
  grey-light: #E1E4E5,
  grey-black: #1A1A1A,
  text-color: #131313
);

// Color mapping
@function color($color-name) {
  @return map-get($colors, $color-name)
}

// Gradient mapping
@function gradient($color-name) {
  @return map-get($gradients, $color-name)
}

$font: 'Nunito Sans', sans-serif;
$font-head: 'Darker Grotesque', sans-serif;
$font-code: 'Fire Code', sans-serif;

$gradient: linear-gradient(to right, color(primary) 0%, color(secondary) 50%, color(tertiary) 100%);
$gradient-light: linear-gradient(to right, rgba(color(primary), 0.8) 0%, rgba(color(secondary), 0.8) 50%, rgba(color(tertiary), 0.8) 100%);