@use '../abstracts/' as *;
@use './typography' as *;
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Nunito+Sans:wght@300;400;600;700&family=Fira+Code:wght@400;600&display=swap');

.App {
  margin: 0 auto;
  background-color: color(bg-light);
  img {
    display: inline;
  }
}

img.logo {
  max-width: 100px;
  margin-inline: 1rem;
  @include mq(small) {
    max-width: 150px;
  }
}

body {
  font: 100% $font;
  background-color: color(bg-dark);
    @include mq(medium) {
      background-color: color(bg-light);
  }
}

h1 {
  font: 100% $font-head 700;
  @include font-size($h1-font-sizes);
}

h2 {
  padding-bottom: 1rem;
  @include font-size($h2-font-sizes);
}

h1.logo-name {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  background-image: $gradient;
  width: fit-content;
  display: inline;
}

p.subtitle {
  color: color(tertiary);
  text-transform: uppercase;
  font-weight: 600;
  @include font-size($p-font-sizes);
}

section {
  display: flex;
  flex-direction: column;
  @include mq(medium) {
    flex-direction: row;
    gap: 1rem;
  }
}

div.box {
  min-width: 200px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#fff, #fff) padding-box, $gradient-light border-box;
  border: 2px solid transparent;
  margin-block: 1rem;
  @include mq(medium) {
    width: 100%;
  }
}


div.card {
  background: $gradient;
  width: em-calc(300px);
  height: 300px;
  @include font-size($p-font-sizes);
}