@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Nunito+Sans:wght@300;400;600;700&family=Fira+Code:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
.App {
  margin: 0 auto;
  background-color: #F7F5FF;
}
.App .title {
  padding-top: 1rem;
  padding-left: 1rem;
}
.App .content {
  margin: 0 auto;
  max-width: 90%;
}
@media screen and (min-width: 720px) {
  .App .content {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: repeat(3, auto);
    column-gap: 2rem;
    justify-content: center;
  }
  .App .content .profile-area {
    grid-area: 1/1/2/2;
  }
  .App .content .cert-area {
    grid-area: 2/1/4/2;
  }
  .App .content .skills-area {
    grid-area: 1/2/3/3;
  }
  .App .content .projects-area {
    grid-area: 3/2/4/3;
  }
}
@media screen and (min-width: 1280px) {
  .App .content {
    max-width: 75rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    column-gap: 2rem;
  }
}
.App .content .profile-area {
  grid-area: 1/1/3/2;
}
.App .content .cert-area {
  grid-area: 3/1/3/2;
}
.App .content .skills-area {
  grid-area: 1/2/2/3;
}
.App .content .projects-area {
  grid-area: 3/2/3/3;
}

img.logo {
  display: inline;
  max-width: 100px;
  margin-left: 0.75rem;
}
@media screen and (min-width: 480px) {
  img.logo {
    max-width: 150px;
  }
}

body {
  font: 100% "Nunito Sans", sans-serif;
  background-color: #F7F5FF;
}

h1 {
  font: 100% "Darker Grotesque", sans-serif 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 720px) {
  h1 {
    font-size: 46px;
    font-size: 2.875rem;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

h2 {
  padding-bottom: 1rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media screen and (min-width: 480px) {
  h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

h1.logo-name {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #FF3F4A 0%, #743AC0 50%, #2532A9 100%);
  width: fit-content;
  display: inline;
}

p.subtitle {
  color: #2532A9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  p.subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  p.subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  p.subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 980px) {
  section {
    flex-direction: row;
    gap: 1rem;
  }
}

div.box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, rgba(255, 63, 74, 0.8) 0%, rgba(116, 58, 192, 0.8) 50%, rgba(37, 50, 169, 0.8) 100%) border-box;
  border: 2px solid transparent;
  margin-block: 1rem;
}
@media screen and (min-width: 720px) {
  div.box {
    width: 100%;
  }
}

div.card {
  background: linear-gradient(to right, #FF3F4A 0%, #743AC0 50%, #2532A9 100%);
  width: 18.75em;
  height: 300px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  div.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  div.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  div.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/*  Add accessible line-height */
body {
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/img/sky.svg");
  background-size: 600px;
  padding-top: 4rem;
  margin-bottom: 0;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 720px) {
  header {
    flex-direction: row;
    margin-bottom: 7rem;
    background-size: auto;
  }
}

.header-col1 {
  display: flex;
  order: 2;
  position: relative;
  bottom: 5rem;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .header-col1 {
    bottom: 7rem;
  }
}
@media screen and (min-width: 720px) {
  .header-col1 {
    order: 1;
    position: static;
  }
}
.header-col1 .orbscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 720px) {
  .header-col1 .orbscreen {
    position: relative;
    left: 80px;
    top: 20px;
  }
}
.header-col1 .orbscreen img {
  max-width: 200px;
}
.header-col1 .orbscreen .mouse {
  position: relative;
  bottom: 70px;
  right: 40px;
  z-index: 0;
}

.header-col2 {
  display: flex;
  order: 1;
  justify-content: center;
}
@media screen and (min-width: 720px) {
  .header-col2 {
    display: inline;
  }
}

.header-screen {
  background: #1A1A1A;
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 65px;
  border-radius: 10px;
  outline: solid 2px rgba(155, 250, 0, 0.8);
  z-index: 1;
}
.header-screen p {
  font-family: "Fire Code", monospace;
  color: #f2f2f2;
  padding: 0 0.75rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  .header-screen p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  .header-screen p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .header-screen p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.header-screen p:nth-of-type(1) {
  color: #9BFA00;
  padding-top: 0.75rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media screen and (min-width: 480px) {
  .header-screen p:nth-of-type(1) {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  .header-screen p:nth-of-type(1) {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  .header-screen p:nth-of-type(1) {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.header-screen .header-screen-top {
  background-color: #3F3F3F;
  height: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
}
.header-screen .header-screen-top .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.header-screen .header-screen-top .red {
  background-color: red;
}
.header-screen .header-screen-top .yellow {
  background-color: yellow;
}
.header-screen .header-screen-top .green {
  background-color: greenyellow;
}

.box.round {
  border-radius: 50px;
  border: 4px solid transparent;
}
.box .profile {
  position: relative;
  padding-top: 2rem;
}
.box .profile .fab {
  padding-right: 1rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media screen and (min-width: 480px) {
  .box .profile .fab {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  .box .profile .fab {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  .box .profile .fab {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.box .profile .fa-github {
  color: #FF3F4A;
}
.box .profile .fa-linkedin {
  color: #2532A9;
}
.box .profile .name {
  padding-top: 1rem;
  color: #FF3F4A;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media screen and (min-width: 480px) {
  .box .profile .name {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  .box .profile .name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  .box .profile .name {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.box .profile p {
  padding-bottom: 1rem;
}
.box .profile .contact div {
  display: flex;
}
.box .profile .avatar {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translate(-50%, -50%);
}
.box .profile .avatar img {
  max-width: 150px;
  border-radius: 20px;
}

.slider-skill {
  display: flex;
}
.slider-skill .skill-title {
  min-width: 100px;
}

.slider {
  display: flex;
  position: relative;
  top: 0.5rem;
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
  height: 6px;
  margin-bottom: 2rem;
}

.skill {
  background-color: #2532A9;
  border-radius: 20px;
  height: 6px;
}

.html {
  width: 90%;
}

.css {
  width: 70%;
}

.js {
  width: 40%;
}

.react {
  width: 30%;
}

ul {
  list-style: none;
}
ul p:first-child {
  display: inline-block;
}
ul li {
  padding-bottom: 1rem;
}
ul li a {
  display: inline;
  color: #2532A9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  ul li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  ul li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  ul li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
ul li a:hover {
  text-decoration: none;
}

ul.cert-list li::before {
  content: "•";
  color: #FF3F4A;
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

p.tags {
  color: #FF3F4A;
}

.box.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .box.flex {
    flex-direction: row;
  }
}
.box.flex p {
  margin-bottom: 0.5rem;
}
.box.flex .fab {
  font-size: 1.5rem;
}
.box.flex .fa-html5 {
  color: #FF3F4A;
}
.box.flex .fa-css3-alt {
  color: #2532A9;
}
.box.flex .fa-js {
  color: #F0DB4F;
}
.box.flex .fa-react {
  color: #61dafb;
}
.box button {
  color: #fff;
  background-color: #743AC0;
  border: transparent;
  outline: transparent;
  padding: 0.5em;
  border-radius: 10px;
  width: 6.25rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.thumb {
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .thumb {
    max-width: none;
  }
}

.project-list {
  padding: 0;
}

.filter-box {
  background-color: #fff;
  border: 1px solid #E1E4E5;
  border-radius: 10px;
}
.filter-box button {
  font-size: 0.875rem;
  margin: 0.5rem;
  padding-block: 0.2rem;
  padding-inline: 1rem;
  border: transparent;
  border-radius: 0.75em;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: #743AC0;
}

/*# sourceMappingURL=main.css.map */
