@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Nunito+Sans:wght@300;400;600;700&family=Fira+Code:wght@400;600&display=swap");
.App {
  margin: 0 auto;
  background-color: #F7F5FF;
}
.App img {
  display: inline;
}

img.logo {
  max-width: 150px;
  margin-inline: 1rem;
}

body {
  font: 100% "Nunito Sans", sans-serif;
  background-color: #2E2E2E;
}
@media screen and (min-width: 720px) {
  body {
    background-color: #F7F5FF;
  }
}

h1 {
  font: 100% "Darker Grotesque", sans-serif 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 720px) {
  h1 {
    font-size: 46px;
    font-size: 2.875rem;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

h2 {
  padding-bottom: 1rem;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media screen and (min-width: 480px) {
  h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

h1.logo-name {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #FF3F4A 0%, #743AC0 50%, #2532A9 100%);
  width: fit-content;
  display: inline;
}

p.subtitle {
  color: #2532A9;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  p.subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  p.subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  p.subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 720px) {
  section {
    flex-direction: row;
  }
}

div.box {
  min-width: 200px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, rgba(255, 63, 74, 0.8) 0%, rgba(116, 58, 192, 0.8) 50%, rgba(37, 50, 169, 0.8) 100%) border-box;
  border: 2px solid transparent;
  margin: 1rem;
}
@media screen and (min-width: 720px) {
  div.box {
    width: 100%;
  }
}

div.card {
  background: linear-gradient(to right, #FF3F4A 0%, #743AC0 50%, #2532A9 100%);
  width: 18.75em;
  height: 300px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  div.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  div.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  div.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/*  Add accessible line-height */
body {
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: url("./src/assets/img/sky.svg");
  margin-bottom: 6rem;
}

.header-col1 {
  display: flex;
}
.header-col1 img {
  max-width: 200px;
}

.orbscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 80px;
  top: 20px;
}
.orbscreen .mouse {
  position: relative;
  bottom: 70px;
  right: 55px;
  z-index: 0;
}

.header-screen {
  background: #1A1A1A;
  width: 250px;
  height: 200px;
  position: relative;
  bottom: 65px;
  border-radius: 10px;
  outline: solid 2px rgba(155, 250, 0, 0.8);
  color: #9BFA00;
  z-index: 1;
}
.header-screen .header-screen-top {
  background-color: #3F3F3F;
  height: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
}
.header-screen .header-screen-top .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.header-screen .header-screen-top .red {
  background-color: red;
}
.header-screen .header-screen-top .yellow {
  background-color: yellow;
}
.header-screen .header-screen-top .green {
  background-color: greenyellow;
}

.box.round {
  border-radius: 50px;
  border: 4px solid transparent;
}
.box .profile {
  position: relative;
  bottom: 120px;
}
.box .profile .name {
  padding-top: 1rem;
  color: #FF3F4A;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media screen and (min-width: 480px) {
  .box .profile .name {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 720px) {
  .box .profile .name {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  .box .profile .name {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.box .profile p {
  padding-bottom: 1rem;
}
.box .profile .avatar {
  display: flex;
  justify-content: center;
}
.box .profile .avatar img {
  max-width: 150px;
  border-radius: 20px;
}

.slider-skill {
  display: flex;
}
.slider-skill .skill-title {
  min-width: 100px;
}

.slider {
  display: flex;
  position: relative;
  top: 0.5rem;
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
  height: 6px;
  margin-bottom: 2rem;
}

.skill {
  background-color: #2532A9;
  border-radius: 20px;
  height: 6px;
}

.html {
  width: 90%;
}

.css {
  width: 70%;
}

.js {
  width: 40%;
}

.react {
  width: 30%;
}

ul {
  list-style: none;
}
ul p:first-child {
  display: inline-block;
}
ul li {
  padding-bottom: 1rem;
}

ul li::before {
  content: "•";
  color: #FF3F4A;
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.tags {
  color: #FF3F4A;
}

.box.flex {
  display: flex;
  gap: 2rem;
}
.box.flex p {
  margin-bottom: 0.5rem;
}
.box button {
  color: #fff;
  background-color: #743AC0;
  border: transparent;
  outline: transparent;
  padding: 0.5em;
  border-radius: 10px;
  width: 6.25rem;
  margin-top: 0.5rem;
}

.thumb {
  min-width: 150px;
}

/*# sourceMappingURL=main.css.map */
