@use '../abstracts/' as *;
@use '../core/typography.scss' as *;

ul {
  list-style: none;
  p:first-child {
    display: inline-block;
  }
  li {
    padding-bottom: 1rem;
    a {
      display: inline;
      color: color(tertiary);
      text-transform: uppercase;
      font-weight: 600;
      @include font-size($p-font-sizes);
    }
    a:hover {
      text-decoration: none;
    }
  }
}

ul.cert-list li::before {
  content: "\2022";
  color: color(primary);
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

