@use '../abstracts/' as *;

header {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: url('../../assets/img/sky.svg');
  padding-top: 2rem;
  margin-bottom: 0;
  flex-direction: column;
  position: relative;
  @include mq(medium) {
    flex-direction: row;
    margin-bottom: 7rem;
  }
}

.header-col1 {
  display: flex;
  order: 2;
  position: relative;
  bottom: 5rem;
  justify-content: center;
  @include mq(small) {
    bottom: 7rem;
  }
  @include mq(medium) {
    order: 1;
    position: static;
  }
  .orbscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq(medium) {
      position: relative;
      left: 80px;
      top: 20px;
    }
    img {
      max-width: 200px;
    }
    .mouse {
      position: relative;
      bottom: 70px;
      right: 40px;
      z-index: 0;
    }
  }
}
.header-col2 {
  display: flex;
  order: 1;
  justify-content: center;
  @include mq(medium) {
    display: inline;
  }
}


.header-screen {
  background: color(grey-black);
  width: 250px;
  height: 200px;
  position: relative;
  bottom: 65px;
  border-radius: 10px;
  outline: solid 2px rgba(color(accent), 0.8);
  color: color(accent);
  z-index: 1;
  .header-screen-top {
    background-color: color(grey-dark);
    height: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    .red {
      background-color: red;
    }
    .yellow {
      background-color: yellow;
    }
    .green {
      background-color: greenyellow;
    }
  }
}