@use '../abstracts/' as *;
@use '../core/typography.scss' as *;

p.tags {
  color: color(primary);
}

.box {
  &.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    @include mq(large) {
      flex-direction: row;
    }
    p {
      margin-bottom: .5rem;
    }
    .fab {
      font-size: 1.5rem;
    }
    .fa-html5 {
      color: color(primary);
    }
    .fa-css3-alt {
      color: color(tertiary);
    }
    .fa-js {
      color: #F0DB4F;
    }
    .fa-react {
      color: #61dafb;
    }
  }
  button {
    color: #fff;
    background-color: color(secondary);
    border: transparent;
    outline: transparent;
    padding: .5em;
    border-radius: 10px;
    width: rem-calc(100px);
    margin-top: .5rem;
    cursor: pointer;
  }
}

  .thumb {
    border-radius: 10px;
    @include mq(small) {
      max-width: none;

    }
  }

  .project-list {
    padding: 0;
  }
  
  .filter-box {
    background-color: #fff;
    border: 1px solid color(grey-light);
    border-radius: 10px;
    button {
      font-size: rem-calc(14px);
      margin: .5rem;
      padding-block: .2rem;
      padding-inline: 1rem;
      border: transparent;
      border-radius: .75em;
      cursor: pointer;
    }
  }
  .active {
    color: #fff;
    background-color: color(secondary);
  }