@use '../abstracts/' as *;
@use '../core/typography.scss' as *;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

.box {
  &.round {
    border-radius: 50px;
    border: 4px solid transparent;
  }
  .profile {
    position: relative;
    padding-top: 2rem;
    .fab {
      padding-right: 1rem;
      @include font-size($h2-font-sizes);
    }
    .fa-github {
      color: color(primary);
    }
    .fa-linkedin {
      color: color(tertiary);
    }
    .name {
      padding-top: 1rem;
      color: color(primary);
      font-weight: 700;
      @include font-size($h2-font-sizes);
    }
    p {
      padding-bottom: 1rem;
    }
    .contact {
      div {
        display: flex;
      }
    }
    .avatar {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: -60px;
      transform: translate(-50%, -50%);
      
    img {
      max-width: 150px;
      border-radius: 20px;
    }      
    }
  }
}

