@use '../abstracts/' as *;

.box {
  .profile {
    position: relative;
    bottom: 120px;
    .avatar {
      display: flex;
      justify-content: center;
    img {
      max-width: 150px;
      border-radius: 20px;
    }      
    }
  }
} 