@use '../abstracts/' as *;
@use '../core/typography.scss' as *;

.project-list {
  padding: 0;
}

.filter-box {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid color(grey-light);
  border-radius: 10px;
  button {
    font-size: rem-calc(14px);
    margin-inline: .75rem;
    padding-block: .2rem;
    padding-inline: 1rem;
    border: transparent;
    border-radius: .75em;
    color: #fff;
    background-color: color(tertiary);
    &:focus {
      background-color: color(primary);
    }
  }
}